*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; 
}

body{
  background-color: #E4FCCA;
}

.header {
  padding: 20px;
  background-color: black;
}

.main{
  padding: 40px;
  color: azure;
}

.footer{
  padding: 20px;
  color: palegreen;
  background-color: black;
}

h1{
  text-align: center;
}

.btn{
  background-color: palegreen;
  color: black;
}

.nav-link, .navbar-brand{
  color: palegreen;
}

.card{
  padding: 10px;
  margin-top: 100px;
  margin-left: 30px;
}

.footer{
  margin-top: 30px;
}

.btn{
   margin-top: 10px;
}

.navbar-toggler-icon{
  background-color:  palegreen;
}